<footer>
    <div class="container">
        <div class="footer-logo">TVOnline<span>Malaysia</span></div>
        <div class="social-links">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        <p class="copyright">© {{ "now" | date: "%Y" }} {{ site.title }} - Semua Hak Terpelihara.</p>
    </div>
</footer>
