<header class="navbar">
    <div class="container nav-content">
        <a href="/" class="logo">TVOnline<span>Malaysia</span></a>
        <nav class="desktop-nav">
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="#">Live TV</a></li>
                <li><a href="#">Kategori</a></li>
                <li><a href="#">Favorit</a></li>
            </ul>
        </nav>
        <div class="nav-right">
            <i class="fa fa-search"></i>
            <a href="#" class="btn-reg">Regeser</a>
        </div>
    </div>
</header>
