<header class="navbar">
    <div class="container">
        <div class="logo">
            <span class="white">TVOnline</span><span class="gold">Malaysia</span>
        </div>
        <nav>
            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="#">Live TV</a></li>
                <li><a href="#">Kategori</a></li>
            </ul>
        </nav>
        <div class="nav-icons">
            <i class="fa fa-search"></i>
            <i class="fa fa-user"></i>
        </div>
    </div>
</header>
