<div class='blog-pager' id='blog-pager' style="text-align: center; margin: 40px 0;">
  {% if paginator.total_pages > 1 %}
    {% if paginator.next_page %}
      <a class='btn-load-more' href='{{ paginator.next_page_path | relative_url }}' id='supermag-pro-load-more-link'>
        LOAD MORE CHANNELS
      </a>
      <!-- Loader Animation -->
      <div class='loading' style="display:none; margin-top: 20px;">
          <div class="loader"></div>
      </div>
      <span class='no-more btn-load-more' style="display:none; background:#eee; color:#999; cursor:default;">
       THAT IS ALL
      </span>
    {% else %}
      <span class="no-more btn-load-more show" style="background:#eee; color:#999;">
        THAT IS ALL
      </span>
    {% endif %}
  {% endif %}
</div>
