<div class='blog-pager' id='blog-pager'>
  {% if paginator.total_pages > 1 %}
    {% if paginator.next_page %}
      <!-- Tombol Load More -->
      <a class='load-more' href='{{ paginator.next_page_path | relative_url }}' id='supermag-pro-load-more-link'>
        Load More Channels
      </a>
      
      <!-- Efek Loading (Muncul saat diklik) -->
      <div class='loading'>
          <div class='loader'></div>
      </div>
      
      <!-- Pesan jika konten habis -->
      <span class='no-more'>
       That is All
      </span>
    {% else %}
      <span class="no-more show">
        That is All
      </span>
    {% endif %}
  {% endif %}
</div>
